<%= link_to "< Перегенерувати звіт", reports_path, class: "btn btn-secondary" %>

<h2>Динаміка витрат/доходу по датах</h2>

<% if @report[:otype] === "income" && @report[:income].all? {|el| el == 0} %>
  <p class="text-muted">Немає даних доходів для відображення.</p>
<% elsif @report[:otype] === "expense" && @report[:expense].all? {|el| el == 0} %>
  <p class="text-muted">Немає даних про витрати для відображення.</p>
<% elsif @report[:labels].present? %>
  <div class="report-container" style="position: relative; height: 400px; max-width: 800px;">
    <canvas
      data-controller="report"
      data-report-type-value="line"
      data-report-otype-value="<%= @report[:otype] %>"
      data-report-labels-value="<%= @report[:labels].to_json %>"
      data-report-income-value="<%= @report[:income].to_json %>"
			data-report-expense-value="<%= @report[:expense].to_json %>">
    </canvas>
  </div>
<% end %>
