<div id="<%= dom_id operation %>">

  <p>
    <strong>Тип транзакції:</strong>
    <%= operation.otype_human %>
  </p>

  <p>
    <strong>Сума:</strong>
    <%= operation.amount %>
  </p>

  <p>
    <strong>Дата:</strong>
    <%= operation.odate %>
  </p>

  <p>
    <strong>Опис:</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong>Категорії:</strong>
    <%= operation.ocategory_human %>
  </p>

</div>
